html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  margin-bottom: 100px;
}
.footer {
    position: fixed;
    left: 0 ; right: 0; bottom: 0;
    height: 60px;
		background-color: #f2f2f2;
		border-top: 1px solid #e4e4e4;
}
.footerText {
  padding-right: 20px;
  padding-top: 20px;
}
.input.has-error {
  border: 2px solid red;
}
.help.is-danger {
  color: red;
}
.input {
  border: 2px solid green;
}
